<!DOCTYPE html>
<html>
<head>
	

	<title>Gallary</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="bootstrap.css.map">
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css.map">
	<link rel="stylesheet" type="text/css" href="bootstrap-theme.css.map">
	<link rel="stylesheet" type="text/css" href="bootstrap-theme.min.css.map">
	<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
	<link rel="shortcut icon" href="apple.ico">
	
	<script type="text/javascript" src="jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="bootstrap.min.js"></script>
	<style type="text/css">


	body{

		background-image: url("stone.jpg");

	}
	.navbar{


		height: 90px;
	}


	</style>



</head>
<body>
	 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GALLARY</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="rtgh.html">Home</a></li>
      <!-- <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li> 
      <li><a href="#">Page 3</a></li> --> 
    </ul>
  </div>
</nav>
	


	<div id="carousel-example" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example" data-slide-to="1"></li>
    <li data-target="#carousel-example" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <a href="#"><img src="premm.jpg" /></a>
      <div class="carousel-caption">
        <h3 style="color:red">RADHE KRISHANA</h3>
        
      </div>
    </div>
    <div class="item">
      <a href="#"><center><img src="tr.jpg" /></center></a>
      <div class="carousel-caption">
        <h3>WAP-4 LOCOMOTIVE</h3>
        
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="train.jpg" /></a>
      <div class="carousel-caption">
        <h3>NICE LOCOMOTIVE WAP-4</h3>
        
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
	 <hr>


	 <div class="container">
	 	<div class="row">
	 		<div class="col-md-6"><img src="holi.jpg" width="500px" style="border: 40px groove green"></div>
	 		<div class="col-md-6"><img src="holi3.jpg" width="500px" style="border:40px ridge red" ></div>


	 	</div>

	 	<hr>

	 	<div class="row">
	 		<div class="col-md-6"><img src="golu1.jpg" width="500px" style="border: 40px groove green"></div>
	 		<div class="col-md-6"><img src="goluu.jpg" width="500px" style="border:40px ridge red" ></div>


	 	</div>

	 	<hr>


	 	<img src="jodhpur.jpg" width="700px" style="border:40px groove blue">

	 	<hr>
	 	<img src="ri.jpg" width="500px" style="border:40px groove #33FF00">


	 </div>

 	
</body>
</html>